@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.navbar {
	border-radius: 0;
	width: 100%;
	@include flex-row;
	justify-content: space-evenly;
	height: $navbar-height;
	background-color: $color-primary;
}

.navbarLinks {
	color: $color-secondary;
	transition: color 0.2s ease;
	&:hover {
		color: $color-text-secondary;
	}
}
