@use "./styles/mixins" as *;
@use "./styles/variables" as *;

.main {
	@include container-padding;
	@include flex-column;

	@include mobile-sm {
		padding: $spacing-sm;
	}
}

.header {
	@include flex-column;
	width: $container-width-sm;
	text-wrap: balance;

	@include tablet {
		width: 90%;
	}

	@include mobile-sm {
		width: 100%;
	}
}

.headerTitle {
	@include flex-column;

	h1 {
		@include mobile-sm {
			font-size: 1.8rem;
			text-align: center;
		}
	}
}

.buttons {
	@include flex-row;
	gap: $spacing-lg;
	margin: $spacing-sm;

	@include mobile-sm {
		@include flex-column;
		gap: $spacing-sm;
		width: 100%;
	}
}

.button {
	@include flex-center;
	border: 1px solid $color-primary;
	padding: $spacing-sm $spacing-xl;
	margin-bottom: $spacing-lg;
	@include hover-darken;
	max-height: 86px;

	@include mobile-sm {
		margin-bottom: $spacing-sm;
		padding: $spacing-sm $spacing-lg;
		width: 100%;
		max-width: 300px;
	}
}

.featuredNews {
	@extend .button;
	flex-direction: column;
	max-height: 86px;
	color: $color-post;
	border: 1px solid $color-post;
	transition: all 0.2s ease-in-out;
	&:hover {
		background-color: $color-post;
		color: $color-secondary;
	}
}

.featuresGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	gap: $grid-gap;
	padding-top: $spacing-sm;
	margin-bottom: $spacing-lg;

	@include tablet {
		grid-template-columns: repeat(2, 1fr);
	}

	@include mobile-sm {
		grid-template-columns: 1fr;
		gap: $spacing-md;
	}
}
.bold {
	font-weight: bold;
	@include hover-lighten;
}
