@use "./styles/mixins" as *;
@use "./styles/variables" as *;

.main {
	@include container-padding;
	@include flex-column;
}

.header {
	@include flex-column;
	width: $container-width-sm;
	text-wrap: balance;
}
.headerTitle {
	@include flex-column;
}

.buttons {
	@include flex-row;
	gap: $spacing-lg;
	margin: $spacing-sm;
}

.button {
	@include flex-center;
	border: 1px solid $color-primary;
	padding: $spacing-sm $spacing-xl;
	margin-bottom: $spacing-lg;
	@include hover-darken;
}

.featuresGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	gap: $grid-gap;
	padding-top: $spacing-sm;
	margin-bottom: $spacing-lg;
}
.bold {
	font-weight: bold;
	@include hover-lighten;
}
