@use "sass:color";
@use "../mixins" as *;

.navbar {
	border-radius: 0;
	width: 100%;
	@include flex-row;
	justify-content: space-evenly;
	height: 4rem;
	background-color: $color-primary;
}

.navbarLinks {
	color: $color-secondary;
	&:hover {
		color: color.adjust($color-secondary, $lightness: -20%);
	}
}
