@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.main {
	@include flex-row;
	text-align: left;
	margin-top: $spacing-sm;
	padding: $spacing-2xl;
	gap: $grid-gap;
	line-height: 1.5rem;
}

.endpointContainer {
	@include flex-column;
	align-items: flex-start;
	max-width: $container-width-lg;
	padding-bottom: $spacing-lg;
}

.funfactContainer {
	@include flex-column;
	align-items: flex-start;
	background-color: $color-surface;
	padding: $spacing-xs $spacing-sm;
	h3 {
		margin: $spacing-xs 0;
	}
}

.newsArticle {
	border: 1px solid $color-border;
	padding: $spacing-sm;
}

.methodContainer {
	display: flex;
	gap: $spacing-sm;
	align-items: center;
	.method {
		background-color: $color-get;
		color: $color-gray-100;
		padding: $spacing-xs;
	}
}

.article {
	padding: $spacing-sm 0;
}

.exampleHeader {
	@include collapseHeader;
}

.responseHeader {
	@include collapseHeader;
}

.responseExample {
	@include codeBlock;
}
.codeExample {
	padding-top: $spacing-xs;
	@include codeBlock;
}

.statusCode {
	padding: $spacing-xs;
	font-size: $font-size-h2;
	font-weight: 700;
}

.parameterHeader {
	display: flex;
	gap: $spacing-sm;
	margin-bottom: $spacing-sm;
	.parameterType {
		border: 2px solid $color-primary;
		padding: 0 $spacing-xs;
	}
	.optional {
		background-color: $color-primary;
		color: $color-secondary;
		padding: 0 $spacing-xs;
	}
	.required {
		background-color: $color-error;
		color: $color-secondary;
		padding: 0 $spacing-xs;
	}
}
